{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
  {% block menu %}{% endblock %}
  {% block conteudo %}{% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(document).ready(() => {
      $('.dropdown-trigger').dropdown();
      $('select').formSelect();
      $('.fixed-action-btn').floatingActionButton();
      $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        i18n: {
          weekdaysAbbrev: [
            'D',
            'S',
            'T',
            'Q',
            'Q',
            'S',
            'S',
          ],
          weekdaysShort: [
            'Dom',
            'Seg',
            'Ter',
            'Quar',
            'Quin',
            'Sex',
            'Sab',
          ],
          weekdays: [
            'Domingo',
            'Segunda',
            'Terça',
            'Quarta',
            'Quinta',
            'Sexta',
            'Sabado',
          ],
          months: [
            'Janeiro',
            'Fevereiro',
            'Março',
            'Abril',
            'Maio',
            'Junho',
            'Julho',
            'Agosto',
            'Setembro',
            'Outubro',
            'Novembro',
            'Dezembro',
          ],
        },
      });
    });

  </script>
</body>

</html>
