[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
isort = "*"
autopep8 = "*"
faker = "*"
ipdb = "*"
factory-boy = "*"

[packages]
ipython = "*"

[requires]
python_version = "3.7"
