[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
tox = "*"
coverage = "*"

[packages]
pyflunt = "==1.0.0"
pillow = "==6.2.0"
click = "==7.0"
pyfiglet = "==0.8.post1"
sendgrid = "==6.0.4"
flask = "==1.0.2"
wtforms = "==2.2.1"

[requires]
python_version = "3.7"
