[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
behave = "*"
coverage = "*"
faker = "*"
factory-boy = "*"
ipdb = "*"
ipython = "*"
isort = "*"
pylint = "*"

[packages]

[requires]
python_version = "3"
