version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.6/site-packages
      - restore_cache:  
          key: dependencias-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
      - run:
          name: 'instala pipenv'
          command: 'sudo pip install pipenv'
      - run:
          name: 'instala dependencias dev'
          command: 'pipenv install --dev'
      - run:
          name: 'instala dependencias'
          command: 'pipenv install'
      - save_cache:
          key: dependencias-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          paths:
            - ".venv"
            - "/usr/local/bin"
            - "/usr/local/lib/python3.6/site-packages"
  test:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run:
          name: 'coverage'
          command: 'pipenv run python -m unittest -v'

workflows:
  version: 2
  build_test:
    jobs:
      - build
      - test:
          requires:
            - build
