{% extends 'commom/base.html' %}

{% load widget_tweaks %}

{% block titulo %}Criar Contato{% endblock %}

{% block conteudo %}
    <form method="post">
      {% csrf_token %}

      {% for it in contato_form %}

      <div>
        {{ it.label_tag }}
        {% render_field it %}
      </div>

      {% endfor %}

      {% for it in endereco_form %}

      <div>
        {{ it.label_tag }}
        {% render_field it %}
      </div>

      {% endfor %}

      <button type="submit">Salvar</button>
    </form>
  </div>
</div>
{% endblock %}
