{% extends 'infra/base.html' %}

{% load widget_tweaks %}

{% block titulo %}Editar Contato{% endblock %}

{% block conteudo %}
<div class="section">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <span class="card-header-title">Contatos</span>
      </div>
      <div class="card-content">
        <form method="post">

          {% csrf_token %}

          {% for it in contato_form %}
            <div class="field">
              <div class="control">
                {{ it.label_tag }}
                {% render_field it class="input" %}
              </div>
            </div>
          {% endfor %}

          {% for it in endereco_form %}
            <div class="field">
              <div class="control">
                {{ it.label_tag }}
                {% render_field it class="input" %}
              </div>
            </div>
          {% endfor %}

          <button class="button is-info is-fullwidth" type="submit">Editar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
