{% extends 'commom/base.html' %}

{% block titulo %}Contatos{% endblock %}

{% block conteudo %}
<div class="card">
  <div class="card-header">
    <p class="card-header-title">Contatos</p>
  </div>
  <div class="card-content">
    <table class="table is-striped is-fullwidth is-hoverable">
      <tbody>
        {% for it in contatos %}
        <tr>
          <td>{{ it.nome }} <small>{{ it.telefone }}</small></td>
          <td>
            <a class="button is-small is-primary" href="#">Editar</a>
          </td>
          <td>
            <a class="button is-small is-danger" href="#">Excluir</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="3">Nenhum contato encontrado :(</td>
        <tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
