{% extends 'commom/base.html' %}

{% block titulo %}Contatos{% endblock %}

{% block conteudo %}
<div class="section">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <span class="card-header-title">Contatos</span>
        <a class="card-header-icon" href="{% url 'contatos:create' %}">Criar</a>
      </div>
      <div class="card-content">
        <table class="table is-fullwidth">
          <tbody>
          {% for it in contatos %}
            <tr>
              <td>{{ it.nome }} <small>{{ it.telefone }}</small></td>
              <td class="is-pulled-right">
                <a class="button is-info is-small" href="{% url 'contatos:edit' it.contato_id %}">Editar</a>
                <a class="button is-danger is-small" href="{% url 'contatos:delete' it.contato_id %}">Deletar</a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td class="has-text-centered" colspan="3">Nenhum contato encontrado :(</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
